h1 {
    text-align: center;
    font-family: 'Yatra One', cursive;
    font-weight: lighter;

}

body{
    /* overflow: hidden; */
    margin: 0;
    background-color: lightgoldenrodyellow  ;
    font-family: 'Nunito', sans-serif;
}
#container {
    border-radius: 14px 14px 14px 14px;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: flex-start;
    background-color: whitesmoke;
    height: 100%;
    align-items: center; 
    margin: auto;
}

#inputCont {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
    border-radius: 14px 14px 0px 0px;
}

.inputs {
    background-color: whitesmoke;
    border: 1px solid transparent;
    height: 40px;
    flex-grow:1; 
    opacity: 0.7;
    padding: 15px 38px;
    font-size: 24px;
}

#inputBox {
    flex-grow: 4;
    border-radius: 14px 0px 0px 0px;
}

#addButton {
    padding: 18px 18px;
    flex-grow: 1;
    height: 100%;
    font-weight: bolder;
    border-radius: 0px 14px 0px 0px;
} 

#addButton:hover { 
    transform: scale(1.1);
    box-shadow: 2px 12px 9px 0 rgba(0,0,0,0.2);
    transition:  transform 0.3s;
    opacity: 1;
}

#addButton:active { 
    transform: translate(+1px,1px);
    box-shadow: 1px 9px 9px 0 rgba(0,0,0,0.2);
    transform: scale(0.9);

}

#delButton {
    padding: 15px 15px;
    height: 100%;
    font-weight: bolder;
    background-color: whitesmoke;
    border: 1px solid transparent;
    width: 10%;
    opacity: 0.7;
    border-radius: 0px 0px 14px 0px;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
} 

#delButton:hover { 
    transform: translate(+1px,3px);
    box-shadow: 1px 8px 5px 0 rgba(0,0,0,0.2);
    transition:  transform 0.3s;
    opacity: 1;
}

#delButton:active { 
    transform: translate(-1px,1px);
    box-shadow: 1px 7px 5px 0 rgba(0,0,0,0.2);
}

#endContainer {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 0px 0px 14px 14px;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
}

.strike {
    text-decoration: line-through;
    opacity: 0.5;
    font-size: 20px;
}

#countTotal {
    display: inline-block;
    margin: auto;
    height: auto;
    padding: auto;
}

#countCompleted {
    display: inline-block;
    margin: auto;
    height: auto;
    padding: auto;
}

ul {
    /* display: none; */
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

ul li {
    color: black;
    font-size: 20px;
    border: 1px solid transparent;
    box-shadow: 0 5px 9px 0 rgba(0,0,0,0.2);
    text-align: center;
    padding: 12px;
    
}
